@charset "utf-8";
/* CSS Document */
font-footer {
	color: #ffffff;
	background-image: linear-gradient(98deg,#EB984E,#F5CBA7);
	font-family: 'Mitr', sans-serif;
	font-size: 15px;
}

#FooterSetting {
	background-image: linear-gradient(98deg,#EB984E,#F5CBA7);
	border-top: 2px solid #f8f8f8
}

.PayWay {
	height: 70px;
}